<div class="row">
    <h2 class="tituloHys">Hard and Soft skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"                                        
            [imageSrc]="'../assets/html.logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [imageSrc]="'../assets/css.logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [imageSrc]="'../assets/javascript.logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../assets/uxui.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [imageSrc]="'../assets/investigacionuser.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [imageSrc]="'../assets/diseñoweb.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showTitle]="false"   
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#03fbfe'"
            [animation]="true"
            [animationDuration]="600"
            [backgroundOpacity]="50"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#1e1684'"
        ></circle-progress>    
    </div>
</div>