.row {
    background-color: #ECEBE8;
    padding: 20px;
}

h2 {
    text-align: center;
}

.tituloHys {
    padding-top: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;   /* Letra */
    font-style: normal;
    font-weight: 520;                   /* Grosor */
    font-size: 22px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 7px;
    word-spacing: 20px;
    line-height: 50px;
    padding-bottom: 30px;
}

/* Mayor Jerarquia: Resolución de caja Automatico*/
div{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}