/* Mayor Jerarquia: Resolución de caja Automatico*/
div{
    margin: auto;
}

img {
    width: 100%;
    height: auto; /* Permite escalar bien la imagen */
}

@media screen and (max-width: 500px) { /* Adaptar a moviles*/
    .responsive {
        padding: 0px 20px;
        background-color: white;
    }
}