.row{                                       /* GENERAL */
    padding: 20px;
    background-color: #05033E;
    padding-bottom: 20px;
    display: flex;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.tituloProyectos {
    color: white;
    font-family: 'Manrope', sans-serif;   /* Letra */
    font-style: normal;
    font-weight: 500;                   /* Grosor */
    font-size: 22px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 7px;
    word-spacing: 20px;
    line-height: 50px;
    padding-bottom: 60px;
}

h3 {
    text-align: start;
    color:  #03fbfe;
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 100;
    font-size: 17px;  
    text-transform:uppercase;
    letter-spacing: 5px;
} 


/* parrafo MOBILE */
@media (max-width: 575px){
    p {
        padding: 4px;
        color: white;
        font-family: 'Prompt', sans-serif;
        font-size: 12px;
    } 
}

/* parrafo PC */
@media (min-width: 575px){
    p {
    padding: 4px;    
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 12px; 
    }
}


/* Mayor Jerarquia: Resolución de caja Automatico*/
div{
    margin: auto;
}

/* Configuración collage */
img {
    padding-top: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
}