<div class="row">
    <h2 class="tituloProyectos">Proyectos a realizar</h2>
    <div class="contenedor">
    <div class="col-md-1 col-lg-1"></div>
        <div>
            <div class="col-sm-12 col-md-5 col-lg-5 parte1">
                <h3 class="tituloProyectoPersonal">Gomez Servicios Inmobiliarios</h3><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum quo, nisi consequuntur, rerum, praesentium et nostrum eius reiciendis obcaecati at recusandae tempora cumque sint quae! Consequatur ipsa aspernatur nulla!</p>
            </div> 
            <div>
                <img src="" alt="" >
            </div>   
        </div>

    </div>
    <div class="col-md-1 col-lg-1 "></div>
</div>


