<div class="row">
    <h2 class="tituloProyectos">Proyectos a realizar</h2>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-10 col-lg-12 parte1">
                <h3 class="tituloProyectoPersonal">Gomez Servicios Inmobiliarios</h3><br><br>
                <p>En estos meses estaré desarrollando un sitio web que contendrá 6 secciones , se tratara de una pagina inmobiliaria, se destacará en la búsqueda y en el contenido de calidad como su variedad.</p>
                    <div class="col-sm-12 col-md-12 col-lg-9 parte2">
                        <img src="../../../assets/mockup.sig.png" class="img-fluid img-proyecto" alt="Iphone Mockup y Wireframe" >
                </div> 
            </div> 
        </div>
    </div>
</div>




