.row{                                       /* GENERAL */
    padding: 20px;
    background-color: #05033E;
    padding-bottom: 20px;
    display: flex;
}

.parte1 {
    display: inline-block;
    text-align: justify;
}


.tituloProyectos {
    color: white;
    font-family: 'Manrope', sans-serif;   /* Letra */
    font-style: normal;
    font-weight: 500;                   /* Grosor */
    font-size: 22px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 7px;
    word-spacing: 20px;
    line-height: 50px;
    padding-bottom: 60px;
}

h3 {
    display: inline;  
    color:  #03fbfe;
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 100;
    font-size: 17px;  
    text-transform:uppercase;
    letter-spacing: 5px;
} 


/* parrafo MOBILE */
@media (max-width: 575px){
    p {
        padding: 4px;
        color: white;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 12px;
    } 
}

/* parrafo PC */
@media (min-width: 575px){
    p {
    padding: 4px;    
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px; 
    }
}


/* Mayor Jerarquia: Resolución de caja Automatico*/
div{
    margin: auto;
}

.CollageProyecto1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
}

.CollageProyecto2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    padding-bottom: 40px;
}


/* Configuración collage */
img {
    border-radius: 20px 20px 20px 20px;
    padding: 5px
}

.foto1 {
    width: 41%;
    height: 30%;
}

.foto2 {
    width: 42%;
    height: 30%;
}

.foto3 {
    width: 51%;
    height: 50%;
}

.foto4 {
    width: 32%;
    height: 45%;
}

@media (max-width:700px) {
    div{
        flex-direction: column;   /* Para que los objetos aparezcan uno arriba de otro */
    }
}