<div class="row">                       <!-- Uso de Boostrap -->
    <h1 class="tituloEducacion">Educación</h1>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> Esc. EP N°41 Merlo Gral. F. Mosconi <h4><span>|</span> 2007 - 2013 <span>|</span></h4> </h3>
            </li><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum eligendi quasi fuga, molestiae necessitatibus impedit suscipit exercitationem consequuntur voluptates excepturi? Placeat voluptatem ipsa voluptates, dicta quod labore dolor voluptatibus.</p>
        </ul>.
        <ul>
            <li>
                <h3>Título Secundario Bachiller en Cs. Sociales E.E. S.N°13, B. Matera <h4><span>|</span> 2013 - 2018 <span>|</span></h4> </h3>
            </li><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum eligendi quasi fuga, molestiae necessitatibus impedit suscipit exercitationem consequuntur voluptates excepturi? Placeat voluptatem ipsa voluptates, dicta quod labore dolor voluptatibus.</p>
        </ul>
        <ul>
            <li>
                <h3> Coder House <h4><span>|</span> 2022 - 2023  <span>|</span></h4> Front End React ( en curso )</h3>
            </li><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum eligendi quasi fuga, molestiae necessitatibus impedit suscipit exercitationem consequuntur voluptates excepturi? Placeat voluptatem ipsa voluptates, dicta quod labore dolor voluptatibus.</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>