<div class="row">                       <!-- Uso de Boostrap -->
    <h1 class="tituloEducacion">Educación</h1>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> Esc. EP N°41 Merlo Gral. F. Mosconi <h4><span>|</span> 2007 - 2013 <span>|</span></h4> </h3>
            </li><br>
                <p>Estudiaba en la escuela N - 1 de Merlo, y en tercer año me cambie a la escuela N - 41, la cual es la más cercana a mi casa, tuve una educación bastante buena en esta escuela, y me inculcaron valores únicos.</p>
        </ul>.
        <ul>
            <li>
                <h3>Título Secundario Bachiller en Cs. Sociales E.E. S.N°13, B. Matera <h4><span>|</span> 2013 - 2018 <span>|</span></h4> </h3>
            </li><br>
                <p>La secundaria quedaba alado de mi primaria, asique esa transición fue bastante buena, ya que me hacía acordar a que iba avanzando en tiempo , también al pasado, y caminar por esas calles y ver como corre el tiempo lo hacía más interesante, de esta secundaria saqué un buen lado mío, forjó la mitad de mi personalidad, la cual con la universidad la completo, tuve una educación perfecta, unos profesores excelentes y una escuela demasiado firme para lo que es la actualidad.</p>
        </ul>
        <ul>
            <li>
                <h3> Coder House <h4><span>|</span> 2022 - 2023  <span>|</span></h4> Front End React ( en curso )</h3>
            </li><br>
                <p>El año anterior, con Argentina Programa descubrí la programación, y entendí que era algo que quería hacer y concretarlo, empeze con el pie izquierdo ya que me atrase y no pude seguir el ritmo, me quede estancado, me anote en este nuevo curso para seguir aprendiendo y retomar o hacer las cosas correctas.</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>