<div class="row">                       <!-- Uso de Boostrap -->
    <h1 class="tituloEducacion">Educación</h1>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> E.S.B. N13 <h4> (4 años) </h4> </h3>
            </li><br>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum excepturi consectetur quibusdam voluptas incidunt eligendi corrupti esse nisi aperiam nulla animi tempore odit accusantium, adipisci autem saepe magni quas minus. </p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>