<div class="row">                       <!-- Uso de Boostrap -->
    <h2 class="tituloExperiencia">Experiencia</h2>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> Pintor <h4>( 2 años)</h4> </h3>
            </li><br> 
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum excepturi consectetur quibusdam voluptas incidunt eligendi corrupti esse nisi aperiam nulla animi tempore odit accusantium, adipisci autem saepe magni quas minus. </p>
            <br>

            <li>
                <h3> Vendedor Autonomo <h4>(6 meses)</h4> </h3>
            </li><br>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum voluptatum repellat natus, ut deleniti suscipit corporis, non possimus nam molestias veniam autem harum recusandae, saepe ad nobis minus assumenda! Error? </p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>