<div class="row">                       <!-- Uso de Boostrap -->
    <h2 class="tituloExperiencia">Experiencia</h2>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> Ayudante de Pintor - Albañileria <h4><span>|</span> 2018 - 2022 <span>|</span></h4> </h3>
            </li><br>
                <p>Al terminar la escuela, o estando en ella, también en la universidad, trabaje de ayudante de pintor por muchos años y albañil, la famosa "changa", de laburar muchos meses a meses de no laburar, trabajando para mi tío en Capital Federal y alrededores.</p>
        </ul>
        <ul>
            <li>
                <h3> Vendedor Autonomo <h4><span>|</span> 2019 - 2021 <span>|</span></h4> </h3>
            </li><br>
                <p>Tuve un emprendimiento chico, vendía juguetes en Internet, me fue realmente bien, y en los casos que no, salí a vender algunos juguetes a la calle, fue una buena etapa para desarrollar algunas cualidades y el diálogo con las personas.</p>
        </ul>
        <ul>
            <li>
                <h3>Despachante de mercaderia<h4><span>|</span> 2022 - 2022 <span>|</span></h4> </h3>
            </li><br>
                <p>Trabaje para una empresa de golf haciendo despachos de mercadería como la organización y control de parquetes ( como ayudante ), tambien cumplía el rol de descargar camiones.</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>