@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@200&family=Manrope&display=swap');

.row {
    padding: 20px;                         /* Espacio del contenedor con los elementos*/
    background-color: #05033E;
    padding-bottom: 65px;
    display: flex;
}

.tituloExperiencia {
    color: white;
    font-family: 'Manrope', sans-serif;   /* Letra */
    font-style: normal;
    font-weight: 500;                   /* Grosor */
    font-size: 22px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 7px;
    word-spacing: 20px;
    line-height: 50px;
}

/* Goblal - Listas Desordenadas */

ul, li {
    list-style-type: none;
    padding-top: 30px;
}

/* Subtitulos */

h3, h4 {
    display: inline;  
    color: #03fbfe;
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 100;
    font-size: 17px;  
    text-transform:uppercase;
    letter-spacing: 5px;
} 

/* Parrafos*/

p {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}

/* Fechas Color*/

h4 {
    color: #ffa12b;
}

/* Mayor Jerarquia: Resolución de caja Automatico*/

div{
    margin: auto;
}

span {
    color: white;
}

