<div class="row">                       <!-- Uso de Boostrap -->
    <h2 class="tituloExperiencia">Experiencia</h2>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-10">
        <ul>
            <li>
                <h3> Ayudante de Pintor - Albañileria <h4><span>|</span> 2007 - 2013 <span>|</span></h4> </h3>
            </li><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum eligendi quasi fuga, molestiae necessitatibus impedit suscipit exercitationem consequuntur voluptates excepturi? Placeat voluptatem ipsa voluptates, dicta quod labore dolor voluptatibus.</p>
        </ul>
        <ul>
            <li>
                <h3> Vendedor Autonomo <h4><span>|</span> 2007 - 2013 <span>|</span></h4> </h3>
            </li><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum eligendi quasi fuga, molestiae necessitatibus impedit suscipit exercitationem consequuntur voluptates excepturi? Placeat voluptatem ipsa voluptates, dicta quod labore dolor voluptatibus.</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>