.row {
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

h2 {
    text-align: center;
}

.tituloHys {
    padding-top: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;   /* Letra */
    font-style: normal;
    font-weight: 520;                   /* Grosor */
    font-size: 22px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 7px;
    word-spacing: 20px;
    line-height: 50px;
    padding-bottom: 30px;
}
