<div class="social">
    <a href="https://www.figma.com/@samyaza"><img src="../../../assets/figma.png" id="figma"></a> 
    <a href="https://twitter.com/Lautaropaz_s"><img src="../../../assets/twitter.png" id="twitter"></a>
    <a href="https://www.linkedin.com/in/lautaro-paz-71795b243/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/SamyazaTv"><img src="../../../assets/github.png" id="github"></a>
    <button type="button" class="btn btn-btn btn-info">Ingresar</button>
</div>