<div class="row" id="globalColorExperiencia">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>TRABAJO 1</h1><h2> - ( 2 Años )</h2>

            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusantium a, quae fuga sint debitis earum. Voluptatibus in velit reprehenderit dolore neque, ratione dolores sapiente nemo, itaque fugiat, eligendi quos!
            </p>
        </ul>
        <ul>
            <li>
                <h1>TRABAJO 2</h1><h2> - ( 2 Años )</h2>

            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusantium a, quae fuga sint debitis earum. Voluptatibus in velit reprehenderit dolore neque, ratione dolores sapiente nemo, itaque fugiat, eligendi quos!
            </p>
        </ul>
    </div>
</div>
