<div class="row">                       <!-- Uso de Boostrap -->
    <h1 id="titulo"> Experiencia</h1>
    <div class="col-lg-1"></div>  <!-- Columna restante de abajo, crea separacion -->  
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Pintor <h3>( 2 años)</h3> </h1>
            </li> 
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum excepturi consectetur quibusdam voluptas incidunt eligendi corrupti esse nisi aperiam nulla animi tempore odit accusantium, adipisci autem saepe magni quas minus. </p>
            <br>

            <li>
                <h1> Vendedor Ambulante y Autonomo <h3>(6 meses)</h3> </h1>
            </li>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum voluptatum repellat natus, ut deleniti suscipit corporis, non possimus nam molestias veniam autem harum recusandae, saepe ad nobis minus assumenda! Error? </p>
        </ul>
    </div>
</div>