@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=IBM+Plex+Mono:wght@200&family=Manrope&display=swap');


/*foto de perfil*/
@media (min-width: 575px){
    #perfil{ 
        border: solid 4px white;
        position: absolute;
        width: 18%;  
        left: 7%;  
        margin-top: -10%;
        }  

/* #bot-perfil{                        /* HABILITAR MAS TARDE /*
        position: absolute;                    
        left: 15%;
        margin-top: -2%;
    }   */

}
@media (max-width: 575px){
    #perfil{
        border: solid 4px white;
        position: relative;
        margin-top: -6%;
        width: 30%;
        left: 35%;
    }
/*  #bot-perfil{                        /* HABILITAR MAS TARDE /*
        position: absolute;
        left: 48%;
        margin-top: -4%;
    }   */
}


/* Titulo */
h1 {                                              
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;   /* Letra */  /* Letra */
    font-style: normal;
    font-weight: 899;                   /* Grosor */
    font-size: 35px;                   /* Tamaño */
    text-align:center;
    text-transform:uppercase;        /* Mayuscula */
    letter-spacing: 30px;
    word-spacing: 20px;
    line-height: 50px;
}

#alineado{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 7%;
    
}
@media(max-width: 575px){
    #alineado-nombre{
        margin-top: 2%;
        text-align: center;
        margin-bottom: 10%;
    }
}

@media(min-width: 575px){
    #alineado-nombre{
        margin-top: 9%;
        background: center;
        text-align: center;
    }
}

/* tamaño de nombre: Lautaro Paz*/
@media(max-width: 575px) {
    #nombre{
    font-weight: bolder;
    font-size: 18px;
    }
}

@media(min-width: 574px) {
    #nombre{
    font-weight: bolder;
    font-size: 25px;
    }
}

#nombre-profesion{
    font-size: 16px;
}
#frase{
    font-size: 12px;
    color: rgb(75, 0, 146);
    font-weight: bolder;
}
.presentacionMe {
    font-style: normal;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    font-weight: bolder;
}
/* Sobre mi                             /* HABILITAR MAS TARDE /*
@media(max-width: 575px){
    #boton-sobre{
        position: absolute;
        margin: 105px;
        margin-top: 55px;
    }
    #boton-sobremy{
        position: relative;
        margin-top: center;
    }
}
@media(min-width: 575px){
    #boton-sobre{
        position: absolute;
        margin: 105px;
        margin-top: 60px;
    }
    #boton-sobremy{
        position: relative;
    }
}
*/