<div class="row">
    <!-- Foto De Perfil -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <img class= "img-fluid rounded-circle" src="../../../assets/perfilPhoto.jpg" id="perfil">
    <!-- <button class="btn btn-outline-info" type="button" id="bot-perfil" routerLink="editphoto" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i></button> -->
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="alineado-nombre">
        <p id="nombre">Lautaro Paz<!-- {{pers.apellido}} {{pers.nombre}}--></p>
        <p id="nombre-profesion">Full Stack junior<!--{{pers.profesion}}--></p>
   <!-- <button class="btn btn-outline-info" type="button" routerLink="/editarpersona" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i>
        </button> -->
    </div>
    <!-- Resumen global de alineamiento - Acerca de mi -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="alineado">

  <!--  <button class="btn btn-outline-info" id="boton-sobre" type="button" routerLink="editarsobremy" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i></button> -->
        <span >
            <h1>Acerca de mi</h1>
            <p><br><br> <!-- {{pers.sobreMy}} --> Soy Lautaro , y sobre mí, busco aprender y disfrutar del camino, acumular recursos lógicos cómo experiencias, soy bastante extrovertido para crear , me gusta imaginar, no carezco de hacer las cosas sin amor o detalladamente, realmente aprecio el resultado final ,ya que es una acumulación de tiempo y errores bien ejecutados..
            <br><br>
            </p>
            <p id="frase">(Mt 19, 30-20, 16) "Muchos de los primeros serán los últimos, y muchos de los últimos serán los primeros"
            </p>
        </span>
    </div>
</div>

<!-- ACTIVAR BOTONES (COMENTARIOS EN VIOLETA)-->